//-----------------------------------------------------------------------------
// client/src/scss/globals.scss
//-----------------------------------------------------------------------------
$global-test:               #FFFFFF;
$global-border:             #DDDDDD;
$global-background:         #DDDDDD;
$global-subtitle:           #696969;